*{
    margin:0;
    font-family: arial;
    border:border-box;
}
.navbar{
    height:60px;
    background-color: black ;
    color:white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.first{
    color:#cccccc;
    font-size: 0.85rem;
    margin-left: 15px;

}
.no{
    display: flex;
    align-items: center;
}
.second{
    font-size: 1rem;
    margin-left: 3px;
}
.navsearch{
    display:flex;
    background-color: pink;
    width:620px;
    height:40px;
    border-radius: 3px;
    justify-content: space-evenly ;
}
#box{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: #f3f3f3;
    width:50px;
    text-align: center;
    border:none;
}
.search-icon{
    display: flex;
    width:45px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:1.2rem;
    background-color: orange;
    color:#0f1111;
}
.search{
    width:100%;
    font-size: 1rem;
    border:none;
}
.language{
    display:flex;
    align-items: center;
}
#small{
    color:white;
    background-color: black;
    border:none;
    align-items: center;
}
.firstone{
    color:#f3f3f3;
    font-size: 0.8rem;
}
#none{
    border:none;
    font-size: 1rem;
    font-weight:700;
    background-color:black;
    color:white;
}
.one{
    color:#f3f3f3;
    font-size: 0.8rem;
}
#some{
    border:none;
    font-size: 1rem;
    font-weight:700;
    background-color:black;
    color:white;

}
.navsearch:hover{
    border-color: orange;
}
.cart{
    display:flex;
}
.secondpanel{
    height:39px;
    background-color :#222f3d;;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color:white;
}
.all{
    display:flex;

}
.Monalika p{
    display:inline;
    margin-left:15px;
}
.Monalika{
    width:70%;
    font-size:0.85rem;
}
.deals{
    font-size: 1rem;
    font-weight:700;
}
.mainsection{
    background-image: url("amazon.jpg");
    height:380px;
    background-size: cover;
    display:flex;
    justify-content: center;
    align-items:flex-end;



}
.heromessage {
    background-color: white;
    color:black;
    height:40px;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width:80%;
    margin-bottom: 25px;
}
.heromessage a{
    color:#007185;
}
.photo{
    display:flex;
    flex-wrap: wrap;
    justify-content:  space-evenly;
    background-color:#e2e7e6; ;
}
.fas{
    height:400px;

    width:23%;
    background-color: white;
    padding:20px 0px 15px;
    margin-top: 15px;
}
.box-img{
    height:300px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 1rem;
    margin-bottom: 1rem;

}
.content{
    margin-left: 1rem;
    margin-right: 1rem;
}
.content p{
    color:#007185;
}
.footpanel1{
    background-color: #37475a;
    color:white;
    height:50px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 0.5rem;
}
.footpanel2{
    background-color: #222f3d;
    color:white;
    height:500px;
    display:flex;
    justify-content:space-evenly;
}
ul{
    margin-top:20px;
}
ul a{
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color:#DDDDDD;
}
